<div class="col">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h3>Electronisch adres</h3>
            <form name="adresFormulier" novalidate>
                <!-- E-mail alleen lezen. -->
                <div class="form-group" ng-show="model.login.ingelogd">
                    <label for="email1">Uw e-mailadres</label>
                    <input type="email"
                           class="form-control"
                           id="email1"
                           name="email1"
                           ng-value="model.account.EmailAdres"
                           readonly />
                    <p class="pt-2">Het e-mailadres is afkomstig uit <a href="registratie">uw registratie</a>.</p>
                </div>
                <!-- E-mail invoeren. -->
                <div class="form-group" ng-show="!model.login.ingelogd">
                    <label for="email2">Uw e-mailadres</label>
                    <input type="email"
                           class="form-control"
                           id="email2"
                           name="email2"
                           placeholder="billgates@microsoft.com"
                           ng-pattern="controleerEmailRegex"
                           ng-model="model.klant.EmailAdres"
                           ng-change="controleerEmail(); wijzigKlant();">
                    <!-- Directive met een pop-up. -->
                    <div class="mt-3 mx-3"
                         emailadresbekend="!model.login.ingelogd && model.email.bekend.Account_EmailBekend"
                         bestelproces="bestelproces">
                    </div>
                </div>
            </form>
            <!-- Het HTMLMenuElement bestaat vooralsnog alleen in Edge en Firefox, zie https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu. Het element staat op deze plaats, omdat het soms een witregel oplevert, en dat in dit vak geen kwaad kan. -->
            <menu type="context" id="kiesWillekeurigVerzendadres">
                <menuitem label="Kies voor mij een adres"
                          icon="/webwinkel/gedeeld/afbeelding/adresboek.png"
                          ng-click="geefWillekeurigVerzendadres()"></menuitem>
            </menu>
        </div>
        <div class="col-12 col-lg-4">
            <h3>Verzendadres</h3>
            <div class="form-row" contextmenu="kiesWillekeurigVerzendadres">
                <div class="form-group col-lg-6">
                    <label for="postcode1">Postcode</label>
                    <input type="text" class="form-control uppercase" id="postcode1" placeholder="1012ES"
                           ng-model="model.adressen.verzend.origineel.Adres_Postcode"
                           ng-change="bepaalVerzendadres()"
                           ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group col-lg-3">
                    <label for="huisnummer1">Nummer</label>
                    <input type="text" class="form-control" id="huisnummer1" placeholder="157"
                           ng-model="model.adressen.verzend.origineel.Adres_Huisnummer"
                           ng-change="bepaalVerzendadres()"
                           ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group col-lg-3">
                    <label for="toevoeging1">Toevoeging</label>
                    <input type="text" class="form-control uppercase" id="toevoeging1" placeholder="A"
                           ng-model="model.adressen.verzend.origineel.Adres_Toevoeging"
                           ng-change="bepaalVerzendadres()"
                           ng-model-options="{ debounce: 500 }">
                </div>
            </div>
            <div ng-show="model.adressen.verzend.beeld">
                <div class="form-group">
                    <label for="straat1">Straat</label>
                    <input type="text" class="form-control" id="straat1" tabindex="-1" placeholder="&hellip;" readonly ng-model="model.adressen.verzend.beeld.Adres_Straatnaam">
                </div>
                <div class="form-group">
                    <label for="plaats1">Plaats</label>
                    <input type="text" class="form-control" id="plaats1" tabindex="-1" placeholder="&hellip;" readonly ng-model="model.adressen.verzend.beeld.Adres_Plaats">
                </div>
            </div>
            <div ng-show="!model.adressen.verzend.beeld">
                <div ng-show="model.adressen.verzend.status.gevonden === null && model.adressen.verzend.status.fout === null">
                    <p class="text-primary fade-in"><i class="fas fa-circle-notch fa-spin"></i> Adres wordt bepaald ... </p>
                </div>
                <div ng-show="model.adressen.verzend.status.gevonden === false">
                    <p class="text-primary">Nog geen adres gevonden.</p>
                </div>
                <div ng-show="model.adressen.verzend.status.fout === true">
                    <p class="text-primary">Oops, fout bij het opvragen van de adresgegevens.</p>
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="factuurAdresGebruiken" ng-model="model.klant.FactuurAdresGebruiken" ng-change="wijzigKlant()">
                <label class="form-check-label" for="factuurAdresGebruiken">De factuur mag naar een ander adres.</label>
            </div>
        </div>
        <div class="col-12 col-lg-4" ng-show="model.klant.FactuurAdresGebruiken">
            <h3>Factuuradres</h3>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="postcode2">Postcode</label>
                    <input type="text" class="form-control uppercase" id="postcode2" placeholder="1011GL"
                           ng-model="model.adressen.factuur.origineel.Adres_Postcode"
                           ng-change="bepaalFactuuradres()"
                           ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group col-lg-3">
                    <label for="huisnummer2">Nummer</label>
                    <input type="text" class="form-control" id="huisnummer2" placeholder="127"
                           ng-model="model.adressen.factuur.origineel.Adres_Huisnummer"
                           ng-change="bepaalFactuuradres()"
                           ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group col-lg-3">
                    <label for="toevoeging2">Toevoeging</label>
                    <input type="text" class="form-control uppercase" id="toevoeging2" placeholder=""
                           ng-model="model.adressen.factuur.origineel.Adres_Toevoeging"
                           ng-change="bepaalFactuuradres()"
                           ng-model-options="{ debounce: 500 }">
                </div>
            </div>
            <div ng-show="model.adressen.factuur.beeld">
                <div class="form-group">
                    <label for="straat2">Straat</label>
                    <input type="text" class="form-control" id="straat2" tabindex="-1" placeholder="&hellip;" readonly ng-model="model.adressen.factuur.beeld.Adres_Straatnaam">
                </div>
                <div class="form-group">
                    <label for="plaats2">Plaats</label>
                    <input type="text" class="form-control" id="plaats2" tabindex="-1" placeholder="&hellip;" readonly ng-model="model.adressen.factuur.beeld.Adres_Plaats">
                </div>
            </div>
            <div ng-show="!model.adressen.factuur.beeld">
                <div ng-show="model.adressen.factuur.status.gevonden === null && model.adressen.factuur.status.fout === null">
                    <p class="text-primary fade-in"><i class="fas fa-circle-notch fa-spin"></i> Adres wordt bepaald ... </p>
                </div>
                <div ng-show="model.adressen.factuur.status.gevonden === false">
                    <p class="text-primary">Nog geen adres gevonden.</p>
                </div>
                <div ng-show="model.adressen.factuur.status.fout === true">
                    <p class="text-primary">Oops, fout bij het opvragen van de adresgegevens.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="bestelproces">
        <div class="col d-flex justify-content-between">
            <a href="winkelwagen" class="btn btn-success">
                Terug
            </a>
            <a href="bestel"
               class="btn btn-success"
               ng-show="((adresFormulier.email2.$valid && model.klant.EmailAdres) || model.account.EmailAdres) && model.adressen.verzend.beeld.Adres_Nummer && (!model.klant.FactuurAdresGebruiken ||  model.adressen.factuur.beeld.Adres_Nummer)">
                Verder
            </a>
        </div>
    </div>
    <div class="row" ng-show="!bestelproces">
        <div class="col d-flex justify-content-end">
            <!-- Deze button is niet meer dan een knieval aan de bevestigingsbehoefte van een gebruiker. -->
            <button type="button" class="btn btn-primary" ng-click="model.adressen.verzend.status.gewijzigd = false" ng-disabled="!model.adressen.verzend.status.gewijzigd">
                Opslaan
            </button>
        </div>
    </div>
</div>
