<div class="col">
    <h3>Betaald</h3>
    <div class="row">
        <div class="col">
            <p>
                Dank voor uw betaling. Wij gaan nu uw bestelling verzenden.
                <span ng-show="model.login.ingelogd">U kunt de voortgang van de verzending van uw bestelling volgen in <a href="bestelhistorie">uw bestelhistorie</a>.</span>
            </p>
        </div>
        <div class="col col-lg-3">
            <img class="foto inpakken" src="/webwinkel/gedeeld/afbeelding/inpakken-sm.jpg"/>
            <!-- Let op: content wordt ook met css klasse .foto.inpakken gezet. -->
        </div>
    </div>
</div>