<div ng-hide="disclaimerAkkoord()" class="fixed-bottom d-flex flex-wrap bg-primary bg-opacity p-1 p-lg-4 text-light">
    <div class="p-1"><span class="lead">Disclaimer</span>. Deze website is onderdeel van een project dat de auteur bekend maakt met moderne webtechnologi&euml;n. De op de website getoonde producten zullen nooit geleverd worden. Aan de op de website getoonde informatie kunnen geen rechten worden ontleent. Met het gebruik van de website gaat u akkoord met voorgaande. <span class="lead">Cookies.</span> Deze website maakt alleen gebruik van functionele cookies. U wordt niet met analytische of tracking cookies gevolgd door de eigenaar van deze website of door een derde.</div>
    <div class="p-1">
        <button class="btn btn-info" ng-click="disclaimerAkkoord(true);">Akkoord</button>
    </div>
</div>