<div class="col">
    <h3>Werken bij Supermarkt.nl</h3>
    <div class="row">
        <div class="col">
            <p>
                Supermarkt.nl is een moderne en dynamische werkgever waar samenwerken hoog in het vaandel staat.
                Wij groeien hard en daarom zoeken wij jou.
            </p>
            <p class="lead font-weight-bold">Senior Full-stack Webdeveloper</p>
            <p>
                Als full-stack webdeveloper zal je een cruciale rol spelen in een aantal belangrijke technische innovaties van
                het snelstgroeiende e-commerce bedrijf van Nederland: Supermarkt.nl (uitgeroepen door Winkel.dot).
                Binnen Supermarkt.nl staan we aan de vooravond van de internationale uitrol.
            </p>
            <p>Wij bieden jou:</p>
            <ul>
                <li>De vrijheid om daar te gaan waar nog nooit iemand in onze onderneming is geweest.</li>
                <li>Onderdeel zijn van een jong en professioneel team.</li>
                <li>Werken in een snelgroeiend techbedrijf.</li>
                <li>Een competitief salaris.</li>
                <li>Korting bij wasserette.</li>
            </ul>
            <p>U herkent zichzelf in hetvolgende profiel:</p>
            <ul>
                <li>
                    Minimaal vijf jaar ervaring in een soortgelijk functie.
                    (Heeft u <a target="_blank" href="https://medium.com/coderbyte/a-guide-to-becoming-a-full-stack-developer-in-2017-5c3c08a1600c">minder</a>?
                    Doe anders <a target="_blank" href="https://www.upwork.com/">eens wat ervaring op</a>.)
                </li>
                <li>Ruime ervaring met AngularJS, Bootstrap, Node.js en gerelateerde tooling.</li>
                <li>Kennis van en ervaring met de <a href="http://merode.econ.kuleuven.ac.be/">Merode</a> systeemontwikkelmethodiek.</li>
                <li>Intensieve ervaring met SQL en SQLite versie 3.</li>
                <li>Een pré is kennis van Linux en specifiek CentOS 6 en 7.</li>
                <li>Een pré is kennis van Duits op minimaal A2 niveau.</li>
                <li>U bent een gedreven professional, kan samenwerken maar ook zelfstandig in teamverband.</li>
                <li>U draagt bij voorkeur gele t-shirts.</li>
            </ul>
            <p>
                Een <a target="_blank" href="https://www.ou.nl/-/IB0402_Logica-verzamelingen-en-relaties">test kan deel uitmaken van de selectieprocedure.</a>
                Directe link naar deze vacature: https://www.erichoekstra.com/webwinkel/klant/?pad=vacature
            </p>
            <p><button type="button" class="btn btn-primary" ng-click="">Solliciteer nu!</button></p>
        </div>
    </div>
</div>