<div class="col-lg-4">
    <h4 class="mb-3">Contact opnemen</h4>
    <p>
        <span class="lead"><i class="fas fa-phone"></i> 0881234567</span> <br />
        Onze klantenservice staat 24 &times; 7 voor u klaar.
    </p>
    <p>
        <span class="lead"><i class="fas fa-envelope"></i> <a href="mailto:supermarkt@erichoekstra.com">info@supermarkt.nl</a></span> <br />
        Het webteam antwoordt u binnen 3 uur.
    </p>
</div>
<div class="col-lg-4">
    <h4 class="mb-3">Klantenservice</h4>
    <p>Contact</p>
    <p>Retouren</p>
    <p><a href="keuzehulp">Keuzehulp</a></p>
</div>
<div class="col-lg-4">
    <h4 class="mb-3">Over Supermarkt.nl</h4>
    <p><a href="wij">Wij zijn Supermarkt.nl</a></p>
    <p><a href="vacature">Werken bij Supermarkt.nl</a></p>
    <p>Algemene voorwaarden</p>
</div>