<div class="row">
    <div class="col">
        <h1>Voorraad</h1>
        <p>De database bevat zo'n 450.000 verschillende producten. Niet alle producten zijn op voorraad, van de producten die wel op voorraad zijn, is een exemplaar bekend. Onderstaande grafiek toont het aantal productexemplaren in een productgroep. De productgroepen zijn in een hi&euml;rarchie verbonden. </p>
        <p ng-show="grafiekstatus">{{grafiekstatus}}</p>
        <svg class="voorraadgrafiek" voorraadgrafiek="" status="grafiekstatus" ></svg>
        <p>Zie ook <a href="rapportage">rapportage</a>.</p>
    </div>
</div>
